<button mat-raised-button [routerLink]="['/home/admin/staffmanagment']" color="primary">Staff management</button>
<mat-divider></mat-divider>
<button mat-raised-button [routerLink]="['/home/admin/leave']" color="primary">Leave Application</button>
<mat-divider></mat-divider>
<button mat-raised-button [routerLink]="['/home/admin/examschedule']" color="primary">Exam Schedule</button>
<mat-divider></mat-divider>
<button mat-raised-button [routerLink]="['/home/admin/event']" color="primary">Event Schedule</button>
<mat-divider></mat-divider>
<button mat-raised-button [routerLink]="['/home/admin/division']" color="primary">Division Managment</button>
<mat-divider></mat-divider>
