<button mat-raised-button [routerLink]="['/home/library/allbook']" color="primary">All Book</button>
<mat-divider></mat-divider>
<button mat-raised-button [routerLink]="['/home/library/allocatedbook']" color="primary">Allocated Book</button>
<mat-divider></mat-divider>
<button mat-raised-button [routerLink]="['/home/library/idcard']" color="primary">Id Card</button>
<mat-divider></mat-divider>
<button mat-raised-button [routerLink]="['/home/library/pay']" color="primary">Pay</button>
<mat-divider></mat-divider>
